<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
    <title>{{ book.title }}</title>
</head>
<body>
    <div class="container d-flex mt-5 gap-5">

        <!-- container for 'favorited by' table -->
        <div class="container">
            <h1>Title: {{ book.title }}</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Favorited By:</td>
                    </tr>
                </thead>
                <tbody>
                    <!-- if no authors have favorited the book, leave a message encouraging authors to add it to their favorites-->
                    {% if favorites.authors_favorited | length() < 1 %}
                    <tr>
                        <td>Favorite this book, and your name will be here!</td>
                    </tr>
                    {% endif %}

                    {% for favorite in favorites.authors_favorited %}
                    <tr>
                        <td>{{ favorite.name }}</td>
                    </tr>
                    {% endfor %}


                </tbody>
            </table>

            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="/authors">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/books">Books</a></li>
            </ul>
        </div>

        <!-- container for 'add to author favorites' form-->
        <div class="container">
            <h2>Favorite this Book to Author:</h2>
            <form action="#">

                <!-- label/select element for adding a favorite book to authors favorites list -->
                <label class="form-label" for="author_name">Author:</label>
                <select class="form-select" aria-label="Default select" name="author_name" id="author_name">
                    <!-- this may be a good place to add the selected="" attribute for whatever option is the default option -->
                    {% for author in authors %}
                    <option value="{{ author.id }}">{{ author.name }}</option>
                    {% endfor %}
                </select>
                
                <!-- submit button for adding the book to the authors favorites list -->
                <input class="btn btn-primary mt-3" type="submit" value="Add">
            </form>
        </div>

    </div>
</body>
</html>